# Datos crudos y procesados no se suben a GitHub
datos/crudos/*
datos/procesados/*
!datos/crudos/.gitkeep
!datos/procesados/.gitkeep

# Archivos pesados de datos
*.sav
*.dta
*.csv
*.xlsx
*.parquet
*.rds

# Conservar los reportes CSV del trabajo final
!outputs/acondicionar/*.csv
!outputs/explorar/*.csv
!outputs/clasificar/*.csv
!outputs/documentar/*.csv

# Archivos temporales de R y RStudio
.Rhistory
.RData
.RDataTmp
.Ruserdata
.Rproj.user/

# renv
renv/library/
renv/staging/
